



/* body {

	


} */

.textFont {
	font-family: 'Raleway', sans-serif;
}
.title { color: #000000; font: 68px "Raleway", arial, sans-serif; font-weight: 400;
	text-align:center;
	font-family: 'RaleWay', sans-serif;
	}	






